:root {
    /*
    Social Proofs Page

    These are the CSS Variables according to the style guide.
    */
    --White: hsl(0, 0%, 100%);
    --Soft_Pink: hsl(333, 80%, 67%);
    --Very_Dark_Magenta: hsl(300, 43%, 22%);
    --Dark_Grayish_Magenta: hsl(303, 10%, 53%);
    --Light_Grayish_Magenta: hsl(300, 24%, 96%);
    --font_family: "League Spartan";

}