:root {
    /*
    Social Proofs Page

    These are the CSS Variables according to the style guide.
    */
    --White: hsl(0, 0%, 100%);
    --Soft_Pink: hsl(333, 80%, 67%);
    --Very_Dark_Magenta: hsl(300, 43%, 22%);
    --Dark_Grayish_Magenta: hsl(303, 10%, 53%);
    --Light_Grayish_Magenta: hsl(300, 24%, 96%);
    --font_family: "League Spartan";

}
body {
    font-family: "League Spartan";
}
/* Rating section style */

.rating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--Light_Grayish_Magenta);
    color: var(--Very_Dark_Magenta);
    margin: auto;
    margin-bottom: 10px;
    padding: 0 30px 0 20px;
    border-radius: 10px;
    width: 400px;
}
.rating img {
    margin-right: 10px;
}
.rating p {
    font-weight: 700;
    margin-left: 30px;
}